.profile__description {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}

@media screen and (max-width: 900px) {
    .profile__description {
        max-width: 350px;
    }
  }

@media screen and (max-width: 750px) {
    .profile__description {
        margin-bottom: 32px;
        font-size: 14px;
        max-width: 300px;
    }
  }

@media screen and (max-width: 650px) {
    .profile__description {
        line-height: 17px;
        max-width: 250px;
        margin-right: 28px;
    }
  }