.elements__title {
    margin: 0 0 0 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 29px;
    font-size: 24px;
    font-weight: 900;
    max-width: 200px;
}